In [7]:
import pandas as pd
import numpy as np
import csv

In [2]:
metadata_IGRA= pd.read_csv('/Users/koushal/Downloads/weather_balloon_metadata.csv')
metadata_IGRA

,SITEID,YEAR,MONTH,DAY,HOUR,RELTIME,NUMLEV,PW,INVPRESS,INVHGT,...,LFCHGT,LNBPRESS,LNBHGT,LI,SI,KI,TTI,CAPE,CIN,uid
0,#USM00072402,1963,10,14,12,NaN,26,944.0,101100.0,157.0,...,NaN,NaN,NaN,15.0,16.0,-18.0,21.0,NaN,NaN,1
1,#USM00072402,1963,10,15,12,NaN,24,1104.0,99500.0,287.0,...,NaN,NaN,NaN,11.0,8.0,-2.0,37.0,NaN,NaN,2
2,#USM00072402,1963,10,16,12,NaN,21,837.0,99600.0,227.0,...,NaN,NaN,NaN,8.0,13.0,-17.0,24.0,NaN,NaN,3
3,#USM00072402,1963,10,17,12,NaN,20,882.0,100200.0,157.0,...,NaN,NaN,NaN,10.0,13.0,-11.0,28.0,NaN,NaN,4
4,#USM00072402,1963,10,18,12,NaN,23,1895.0,100400.0,167.0,...,NaN,NaN,NaN,8.0,4.0,21.0,44.0,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97017,#USM00072405,1973,4,12,18,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97016
97018,#USM00072405,1973,4,13,18,NaN,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97017
97019,#USM00072405,1973,5,4,12,NaN,6,NaN,NaN,NaN,...,1690.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97018
97020,#USM00072405,1973,5,7,12,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97019
97021,#USM00072405,1973,5,9,12,NaN,8,NaN,NaN,NaN,...,1618.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97020

In [3]:
def celsius_to_kelvin(celsius):
    kelvin = celsius + 273.15
    return kelvin

columns_to_convert = ['LI','SI','KI','TTI']
for col in columns_to_convert:
    new_col_name = col + '(F)'
    metadata_IGRA[new_col_name] = metadata_IGRA[col].apply(celsius_to_kelvin)
metadata_IGRA = metadata_IGRA.drop(columns=columns_to_convert)

In [4]:
def meters_to_feet(meters):
    feet = meters * 3.28084
    return feet
metadata_IGRA['INVHGT'+'(Ft)'] = metadata_IGRA['INVHGT'].apply(meters_to_feet)
metadata_IGRA['LFCHGT'+'(Ft)']= metadata_IGRA['LFCHGT'].apply(meters_to_feet)
metadata_IGRA['MIXHGT'+'(Ft)']= metadata_IGRA['MIXHGT'].apply(meters_to_feet)
metadata_IGRA['FRZHGT'+'(Ft)']= metadata_IGRA['FRZHGT'].apply(meters_to_feet)
metadata_IGRA['LCLHGT'+'(Ft)']= metadata_IGRA['LCLHGT'].apply(meters_to_feet)
metadata_IGRA['LNBHGT'+'(Ft)']= metadata_IGRA['LNBHGT'].apply(meters_to_feet)
metadata_IGRA=metadata_IGRA.drop(['INVHGT','LFCHGT','MIXHGT','FRZHGT','LCLHGT','LNBHGT'],axis=1)

In [5]:
def kelvin_to_fahrenheit(kelvin):
    fahrenheit = (kelvin/10 - 273.15) * 9/5 + 32
    return fahrenheit
metadata_IGRA['INVTEMPDIF'+'(F)'] = metadata_IGRA['INVTEMPDIF'].apply(kelvin_to_fahrenheit)

In [6]:
metadata_IGRA

,SITEID,YEAR,MONTH,DAY,HOUR,RELTIME,NUMLEV,PW,INVPRESS,INVTEMPDIF,...,SI(F),KI(F),TTI(F),INVHGT(Ft),LFCHGT(Ft),MIXHGT(Ft),FRZHGT(Ft),LCLHGT(Ft),LNBHGT(Ft),INVTEMPDIF(F)
0,#USM00072402,1963,10,14,12,NaN,26,944.0,101100.0,38.0,...,289.15,255.15,294.15,515.09188,NaN,NaN,11148.29432,492.12600,NaN,-391.27
1,#USM00072402,1963,10,15,12,NaN,24,1104.0,99500.0,58.0,...,281.15,271.15,310.15,941.60108,NaN,NaN,11240.15784,164.04200,NaN,-355.27
2,#USM00072402,1963,10,16,12,NaN,21,837.0,99600.0,67.0,...,286.15,256.15,297.15,744.75068,NaN,NaN,11804.46232,246.06300,NaN,-339.07
3,#USM00072402,1963,10,17,12,NaN,20,882.0,100200.0,93.0,...,286.15,262.15,301.15,515.09188,NaN,NaN,11988.18936,1397.63784,NaN,-292.27
4,#USM00072402,1963,10,18,12,NaN,23,1895.0,100400.0,75.0,...,277.15,294.15,317.15,547.90028,NaN,NaN,11167.97936,370.73492,NaN,-324.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97017,#USM00072405,1973,4,12,18,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2368.76648,4845.80068,NaN,NaN
97018,#USM00072405,1973,4,13,18,NaN,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2916.66676,816.92916,4835.95816,NaN,NaN
97019,#USM00072405,1973,5,4,12,NaN,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5544.61960,NaN,4927.82168,3671.25996,NaN,NaN
97020,#USM00072405,1973,5,7,12,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1312.33600,8973.09740,3687.66416,NaN,NaN
97021,#USM00072405,1973,5,9,12,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5308.39912,246.06300,8382.54620,1610.89244,NaN,NaN

In [8]:
csv_filename = 'metadata_IGRA(converted units).csv'
metadata_IGRA.to_csv(csv_filename, index=False)